.clear {
	clear: both;
}
.two-col {
	width: 50%; 
	float: left;
	text-align: center;
}
.three-col {
	width: 33%; 
	float: left;
	text-align: center;
}
table {
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
}